{{extend 'default/layout_base.html'}}


<div class="m-business">
    <h2>{{=T('Make Your Business Model')}}</h2>
    <p>{{=T('Try a tool made to help you figure out how to make money through the understanding of the functions involved in any business.')}}</p>
    <!-- <div class="da-img"><img src="{{=URL('static','img/slide1.png')}}" alt="Modelo de Negócio Canvas" title="Modelo de Negócio Canvas" /></div> -->
</div>

<div id="intro">
    <div class="container">
        <h1>{{=T('The Web2Canvas is a visual guide to building your business model.')}}</h1>
    </div>
</div>

<!-- blocos_canvas -->
<div id="blocos_canvas" class="container">
    <h2 class="section_header">
        <hr class="left visible-desktop">
        <span>{{=T('9 blocks to model your business')}}</span>
        <hr class="right visible-desktop">
    </h2>

    <div class="row">
        <div class="span12">
            <h3 class="intro">
                {{=T("After reflecting on each block, annotate and relate their ideas, you'll discover how to differentiate their enterprise, reduce costs and raise revenue.")}}
            </h3>

        </div>
    </div>

    <div class="row">
        <div class="span4 bloco">
            <div class="icon">
                <i class="fas fa-gift"></i></div>
            <div class="bloco-text">
              <h4>{{=T('Value Proposition')}}</h4>
              <p>
                  {{=T("What's your package of products and services and the value it has for customers.")}}
              </p>
            </div>
        </div>
        <div class="span4 bloco">
            <div class="icon">
                <i class="fas fa-flask"></i></i></div>
            <div class="bloco-text">
              <h4>{{=T('Main Activities')}}</h4>
              <p>
                  {{=T('List actions/tasks important that your company must meet as a Value Proposition and Business Model to your work.')}}
              </p>
            </div>
        </div>
        <div class="span4 bloco">
            <div class="icon">
                <i class="fas fa-wrench"></i></div>
            <div class="bloco-text">
              <h4>{{=T('Key Features')}}</h4>
              <p>
                  {{=T('Most important resources required to operate the Business Model.')}}
              </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span4 bloco">
            <div class="icon">
                <i class="fas fa-users"></i></div>
            <div class="bloco-text">
              <h4>{{=T('Key partnerships')}}</h4>
              <p>
                  {{=T('Network of suppliers and partners that help your company run.')}}
              </p>
            </div>
        </div>
        <div class="span4 bloco">
            <div class="icon">
                <i class="fas fa-suitcase"></i></div>
            <div class="bloco-text">
              <h4>{{=T('Cost structure')}}</h4>
              <p>
                  {{=T('All costs involved in the operation of your Business Model.')}}
              </p>
            </div>
        </div>
        <div class="span4 bloco">
            <div class="icon">
                <i class="fas fa-sitemap"></i></div>
            <div class="bloco-text">
              <h4>{{=T('Customer segment')}}</h4>
              <p>
                  {{=T('Who are the customers you want to meet? They have a specific profile? How are they grouped? How are you located? There is a common need?')}}
              </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span4 bloco">
            <div class="icon">
                <i class="fas fa-heart"></i></div>
            <div class="bloco-text">
              <h4>{{=T('Customer Relationship')}}</h4>
              <p>
                  {{=T('Types of relationships that a company establishes with Customer segment to win them and keep them.')}}
              </p>
            </div>
        </div>
        <div class="span4 bloco">
            <div class="icon">
                <i class="fas fa-truck"></i></i></div>
            <div class="bloco-text">
              <h4>{{=T('Channels')}}</h4>
              <p>
                  {{=T('How your company communicates and reaches its customers to deliver a Value Proposition.')}}
              </p>
            </div>
        </div>
        <div class="span4 bloco">
            <div class="icon">
                <i class="fas fa-money-bill-alt"></i></div>
            <div class="bloco-text">
              <h4>{{=T('Recipes')}}</h4>
              <p>
                  {{=T('Money the company generates. How much and how you will get customers.')}}
              </p>
            </div>
        </div>
    </div>
</div>
<!-- fim blocos_canvas -->

<!-- Modal parcerias_ajuda-->
<div id="todos_recursos" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>{{=T('Resources:')}}</h3>
  </div>
  <div class="modal-body">
      <ul>
        <h4>{{=T('Changelog:')}}</h4>
          <li><strong>v 1.0.1:</strong>
              <ul>
                  <li>{{=T('Novo layout.')}}</li>
                  <li>{{=T('Tela Home.')}}</li>
                  <li>{{=T('Compartilhar projeto com outros usuários.')}}</li>
                  <li>{{=T('Deletar cartões.')}}</li>
                  <li>{{=T('Drag and Drop.')}}</li>
                  <li>{{=T('Cartões são salvos automaticamente.')}}</li>
                  <li>{{=T('Melhoria nas notificações.')}}</li>
                  <li>{{=T('Login com Facebook.')}}</li>
              </ul>
          </li>
          <li><strong>v 1.0:</strong>
              <ul>
                  <li>{{=T('Sistema de login.')}}</li>
                  <li>{{=T('Criação de um novo projeto.')}}</li>
                  <li>{{=T('Edição do modelo Canvas.')}}</li>
              </ul>
          </li>
      </ul>
      <ul>
        <h4>{{=T('TodoList:')}}</h4>
          <li><strong>{{=T('Aprovados:')}}</strong>
              <ul>
                  <li>{{=T('Ajustar layout responsivo para demais dispositivos.')}}</li>
                  <li>{{=T('Exportar Canvas em PDF.')}}</li>
                  <li>{{=T('Retirar um usuario de um projeto.')}}</li>
              </ul>
          </li>
          <li><strong>{{=T('Mais para frente:')}}</strong>
              <ul>
                  <li>{{=T('Enviar email para novos usuários cadastrados.')}}</li>
                  <li>{{=T('Quando adicionar um usuario mandar email pra ele.')}}</li>
                  <li>{{=T('Poder incluir imagens ao canvas.')}}</li>
                  <li>{{=T('Internacionalização.')}}</li>
              </ul>
          </li>
      </ul>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">{{=T('Close')}}</button>
  </div>
</div> <!-- fim parcerias_ajuda-->
